
body,h1,h2,h3,p,ul{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    margin: 1em;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
form label,form input, form textarea{
    display: block;
    width: calc(100% - 1em);
    padding: 0.5em;
}
form input[type="checkbox"]{
    width: auto;
    position: relative;
    top: 2px;
}
.checkbox label{
    margin: auto;
}
form label{
    font-size: 1.2em;
    text-transform: capitalize;
    padding: 0;
    margin: 0.5em 0 0 0;
}
table, td, tr, th{
    border: none;
}
table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
tr:nth-child(1n+2){
    background-color: #AAB7EB;

}