.annuler{
    padding: 12px;
    float: left;
    padding-top: 30px;
    padding-left: 25%;
    min-width:125px;
    position: relative;
}
.tab{
    padding: 12px;
    float: left;
    min-width:125px;
    position: fixed;
}


