header nav, nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav img{
    display: block;
    max-height: 60px;

}
nav ul{
    list-style-type: none;
}
nav li{
    margin: 0 1em;
}
nav li a{
    text-decoration: none;
    color: #4570EB;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
}

nav li a:hover{
    border-bottom: 2px solid #4570EB;
    transition: all 0.2s ease;
}
footer{
    margin-top: 3em;
}
footer img{
    margin: auto;
    display: block;
}